In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import seaborn as sns
from sklearn import linear_model
from sklearn.model_selection import train_test_split
import sklearn
from sklearn import tree
from IPython.display import Image
import pydotplus
import graphviz
from sklearn import ensemble
from sklearn.model_selection import cross_val_score
import time
import timeit
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Lasso
from sklearn.metrics import confusion_matrix
%matplotlib inline

In [54]:
pd.set_option('display.max_columns',30)

In [10]:
df = pd.read_csv('2008.csv')

In [11]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [87]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay',
       'late', 'B6', 'AA', 'CO', 'F9', 'HA'],
      dtype='object')

In [13]:
df['late'] = df['CRSArrTime'] - df['ArrTime']

In [14]:
df.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,late
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,14.0
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-2.0
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,-54.0
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN,46.0
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0,-34.0

In [30]:
df.fillna(value=0, inplace=True)

In [31]:
df = df.sample(frac=.3)

In [82]:
df.corr().iloc[24,:].sort_values()

ArrTime             -0.312863
TaxiIn              -0.021511
FlightNum           -0.018816
NASDelay            -0.013877
Cancelled           -0.006666
Diverted            -0.004648
DayofMonth          -0.000231
Month                0.000565
HA                   0.003919
SecurityDelay        0.005358
DayOfWeek            0.005894
F9                   0.007521
AA                   0.008466
CarrierDelay         0.012931
CO                   0.017599
TaxiOut              0.017754
B6                   0.019222
AirTime              0.024547
ActualElapsedTime    0.024724
Distance             0.029932
CRSElapsedTime       0.030448
WeatherDelay         0.036958
ArrDelay             0.076639
DepTime              0.081584
DepDelay             0.096273
CRSDepTime           0.113199
LateAircraftDelay    0.134723
CRSArrTime           0.180940
late                 1.000000
Year                      NaN
Name: late, dtype: float64

In [ ]:
df.groupby('Origin')

In [67]:
df.groupby('UniqueCarrier').late.mean()

UniqueCarrier
9E     5.391156
AA    19.392928
AQ     4.401146
AS     7.663872
B6    41.552183
CO    33.740643
DL     8.597946
EV     0.467024
F9    28.990995
FL    17.647313
HA    23.061957
MQ    -0.065919
NW    12.239875
OH     1.756458
OO     5.479967
UA    12.631150
US    12.290945
WN    11.893705
XE    13.523835
YV     8.386146
Name: late, dtype: float64

In [75]:
dummies = pd.get_dummies(df.UniqueCarrier)[['B6','AA','CO','F9','HA']]

In [80]:
df = pd.concat([df, dummies], axis=1)

In [83]:
features = df[['Diverted', 'CarrierDelay', 'DepTime', 'Distance', 'NASDelay', 
              'SecurityDelay','Month', 'LateAircraftDelay','B6','AA','CO','F9','HA','DayOfWeek']]

In [84]:
X = features
y = df['late']

In [85]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [86]:
ols = linear_model.LinearRegression()
ols.fit(X_train, y_train)
print('\nCoefficients: \n', ols.coef_)
print('\nIntercept: \n', ols.intercept_)
print('\nR-squared:')
print(ols.score(X_test, y_test))

Coefficients:
 [ -2.39176492e+01   6.49285237e-02   3.32965872e-02   1.11583485e-02
  -3.54149344e-01   2.81449895e+00   9.21481235e-02   1.61146983e+00
   2.27538617e+01   6.24574309e+00   2.11650626e+01   1.95775862e+01
   1.74490170e+01   3.94217030e-01]

Intercept:
 -50.086716852

R-squared:
0.0236648934495