In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy
import seaborn as sns
from sklearn import linear_model
%matplotlib inline

In [5]:
crime = pd.read_csv('NEW_YORK-Offenses_Known_to_Law_Enforcement_by_City_2013 - 13tbl8ny.csv',encoding='utf-8')
crime.columns = crime.iloc[3]
crime.droprow = crime.drop(crime.index[0:4], inplace=True)
crime.dropna(subset = ['Population'], inplace=True)
crime['Population'] = crime['Population'].str.replace(',','').astype(float)
crime['Population'].astype(float)
crime['Robbery'] = crime['Robbery'].str.replace(',','').astype(float)

crime = crime.replace(',','',regex=True)#crime['Property\ncrime'] = crime['Property\ncrime'].str.replace(',','')
#crime['Burglary'] = crime['Burglary'].str.replace(',','')
#crime['Robbery'] = crime['Robbery'].str.replace(',','')
crime.dtypes

3
City                                       object
Population                                float64
Violent\ncrime                             object
Murder and\nnonnegligent\nmanslaughter     object
Rape\n(revised\ndefinition)1              float64
Rape\n(legacy\ndefinition)2                object
Robbery                                   float64
Aggravated\nassault                        object
Property\ncrime                            object
Burglary                                   object
Larceny-\ntheft                            object
Motor\nvehicle\ntheft                      object
Arson3                                     object
dtype: object

In [6]:
def mukduk(x):
    if int(x) > 0:
        return int(1)
    if int(x) == 0:
        return int(0)
def robbery(x):
    if int(x) > 0:
        return int(1)
    if int(x) == 0:
        return int(0)
#print(crime.columns.to_list())
crime = crime.reset_index(drop=True)

crime['mukduk'] = crime['Murder and\nnonnegligent\nmanslaughter'].apply(mukduk)

crime['Rob'] = crime['Robbery'].apply(robbery)
    
crime['propertycrime'] = crime.Population + crime.Population*crime.Population + crime.mukduk + crime.Rob

crime.head()

3,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,mukduk,Rob,propertycrime
0,Adams Village,1861.0,0,0,NaN,0,0.0,0,12,2,10,0,0,0,0,3.465182e+06
1,Addison Town and Village,2577.0,3,0,NaN,0,0.0,3,24,3,20,1,0,0,0,6.643506e+06
2,Akron Village,2846.0,3,0,NaN,0,0.0,3,16,1,15,0,0,0,0,8.102562e+06
3,Albany,97956.0,791,8,NaN,30,227.0,526,4090,705,3243,142,NaN,1,1,9.595476e+09
4,Albion Village,6388.0,23,0,NaN,3,4.0,16,223,53,165,5,NaN,0,1,4.081293e+07

In [14]:
from sklearn.model_selection import train_test_split
# Instantiate and fit our model.
regr = linear_model.LinearRegression()
Y = crime['Property\ncrime'].values.reshape(-1, 1)
X = crime[['Violent\ncrime','Robbery','Burglary']]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30)
regr.fit(X_train, Y_train)

# Inspect the results.
print('\nCoefficients: \n', regr.coef_)
print('\nIntercept: \n', regr.intercept_)
print('\nR-squared:')
print(regr.score(X_test, Y_test))
# ompute adjusted-r-squared
print(1 - (1-regr.score(X_test, Y_test))*(len(Y_test)-1)/(len(Y_test)-X_test.shape[1]-1))

Coefficients:
 [[ 5.18806275 -8.91740456  2.46848594]]

Intercept:
 [ 113.82832006]

R-squared:
0.930780577201
0.928724554742

In [7]:
df = pd.read_excel('table_8_offenses_known_to_law_enforcement_california_by_city_2013.xls')
df.columns = df.iloc[3]
df.droprow = df.drop(df.index[0:4], inplace=True)
df.dropna(subset = ['Population'], inplace=True)
df

3,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson
4,Adelanto,31165,198,2,NaN,15,52,129,886,381,372,133,17
5,Agoura Hills,20762,19,0,NaN,2,10,7,306,109,185,12,7
6,Alameda,76206,158,0,NaN,10,85,63,1902,287,1285,330,17
7,Albany,19104,29,0,NaN,1,24,4,557,94,388,75,7
8,Alhambra,84710,163,1,NaN,9,81,72,1774,344,1196,234,7
9,Aliso Viejo,50005,25,0,NaN,2,4,19,315,71,224,20,3
10,Alturas,2681,28,1,NaN,4,2,21,71,23,46,2,0
11,American Canyon,20068,54,0,NaN,4,31,19,510,91,387,32,2
12,Anaheim,345320,1130,11,NaN,82,437,600,9611,1412,6518,1681,35
13,Anderson,10098,63,0,NaN,8,9,46,721,147,454,120,5
14,Antioch,106447,946,12,NaN,25,352,557,4440,1351,1872,1217,57
15,Apple Valley,71159,185,3,NaN,12,58,112,1594,596,775,223,22
16,Arcadia,57855,77,0,NaN,1,37,39,1518,376,1080,62,3
17,Arcata,17805,67,3,NaN,7,15,42,841,147,634,60,14
18,Arroyo Grande,17634,31,0,NaN,5,4,22,455,137,288,30,0
19,Artesia,16734,63,2,NaN,0,28,33,323,91,177,55,1
20,Arvin,20390,153,2,NaN,1,16,134,744,323,308,113,15
21,Atascadero,28938,97,1,NaN,12,24,60,544,119,400,25,7
22,Atherton,7278,10,0,NaN,1,1,8,115,34,78,3,1
23,Atwater,28906,182,1,NaN,7,22,152,1323,361,804,158,5
24,Auburn,13779,49,0,NaN,2,13,34,302,86,190,26,7
25,Avalon,3777,4,0,NaN,0,2,2,88,13,57,18,1
26,Avenal,14712,62,0,NaN,4,6,52,147,63,67,17,2
27,Azusa,47754,246,2,NaN,4,36,204,1098,256,671,171,6
28,Bakersfield,361859,1857,24,NaN,43,708,1082,16814,4605,9272,2937,193
29,Baldwin Park,76745,220,5,NaN,6,74,135,1370,280,727,363,8
30,Banning,30503,129,2,NaN,9,26,92,808,355,323,130,0
31,Barstow,23144,229,3,NaN,13,45,168,785,329,354,102,11
32,Bear Valley,5328,12,0,NaN,1,0,11,111,10,101,0,0
33,Beaumont,40208,85,1,NaN,8,20,56,1298,180,1015,103,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,Villa Park,5959,6,0,NaN,0,0,6,86,30,56,0,3
437,Visalia,127824,500,8,NaN,31,156,305,4853,1218,3016,619,5
438,Vista,96712,445,1,NaN,28,140,276,2045,390,1326,329,6
439,Walnut,30279,37,0,NaN,1,10,26,463,220,207,36,0
440,Walnut Creek,66149,78,0,NaN,4,31,43,2161,364,1634,163,1
441,Waterford,8590,29,2,NaN,1,4,22,224,78,104,42,0
442,Watsonville,52076,237,3,NaN,20,71,143,1308,218,824,266,9
443,Weed,2927,26,0,NaN,6,3,17,110,33,74,3,0
444,West Covina,107867,231,1,NaN,2,106,122,3370,615,2254,501,2
445,West Hollywood,34902,216,0,NaN,14,68,134,1435,292,1044,99,2
446,Westlake Village,8440,11,0,NaN,1,3,7,148,40,102,6,1
447,Westminster,91885,283,0,NaN,13,84,186,2476,420,1720,336,8
448,Westmorland,2279,2,0,NaN,1,1,0,6,2,4,0,0
449,West Sacramento,49751,205,1,NaN,16,98,90,1483,380,894,209,9
450,Wheatland,3522,0,0,NaN,0,0,0,49,16,28,5,0
451,Whittier,86450,223,3,NaN,17,73,130,2383,455,1675,253,4
452,Wildomar,33453,40,0,NaN,2,11,27,536,166,287,83,1
453,Williams,5176,5,0,NaN,0,3,2,67,24,35,8,1
454,Willits,4832,30,0,NaN,1,1,28,61,6,35,20,2
455,Willows,6122,17,0,NaN,2,3,12,179,54,116,9,0
456,Windsor,27249,105,0,NaN,9,8,88,269,52,209,8,4
457,Winters,6992,8,1,NaN,0,3,4,115,27,76,12,2
458,Woodlake,7417,10,1,NaN,1,1,7,134,39,79,16,0
459,Woodland,56523,272,1,NaN,16,48,207,1942,510,1238,194,34
460,Yorba Linda,67492,30,0,NaN,5,6,19,700,172,482,46,1
461,Yountville,2969,1,0,NaN,1,0,0,57,17,34,6,0
462,Yreka,7639,49,1,NaN,2,2,44,278,71,193,14,2
463,Yuba City,65133,174,2,NaN,15,39,118,1980,438,1210,332,16
464,Yucaipa,52524,107,0,NaN,7,31,69,926,262,534,130,13
465,Yucca Valley,21214,86,3,NaN,7,15,61,429,141,234,54,2

In [9]:
from sklearn.model_selection import train_test_split
# Instantiate and fit our model.
regr = linear_model.LinearRegression()
Y = df['Property\ncrime'].values.reshape(-1, 1)
X = df[['Violent\ncrime','Robbery','Burglary']]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.30)
regr.fit(X_train, Y_train)

# Inspect the results.
print('\nCoefficients: \n', regr.coef_)
print('\nIntercept: \n', regr.intercept_)
print('\nR-squared:')
print(regr.score(X_test, Y_test))
# ompute adjusted-r-squared
print(1 - (1-regr.score(X_test, Y_test))*(len(Y_test)-1)/(len(Y_test)-X_test.shape[1]-1))

Coefficients:
 [[-0.36467701  5.9839037   3.1030044 ]]

Intercept:
 [ 140.07293992]

R-squared:
0.666737578677
0.659331747092

In [38]:
crime['mukduk'] = crime['Murder and\nnonnegligent\nmanslaughter'].apply(mukduk)

crime['Rob'] = crime['Robbery'].apply(robbery)
    
crime['propertycrime'] = crime.Population + crime.Population*crime.Population + crime.mukduk + crime.Rob

crime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 16 columns):
City                                    0 non-null object
Population                              0 non-null float64
Violent
crime                           0 non-null object
Murder and
nonnegligent
manslaughter    0 non-null object
Rape
(revised
definition)1              0 non-null object
Rape
(legacy
definition)2               0 non-null object
Robbery                                 0 non-null object
Aggravated
assault                      0 non-null object
Property
crime                          0 non-null object
Burglary                                0 non-null object
Larceny-
theft                          0 non-null object
Motor
vehicle
theft                     0 non-null object
Arson3                                  0 non-null object
mukduk                                  0 non-null object
Rob                                     0 non-null object
propertycrime                           0 non-null object
dtypes: float64(1), object(15)
memory usage: 0.0+ bytes